
/ConsoleApp1/.vs
/ConsoleApp1/ConsoleApp1/bin
/ConsoleApp1/ConsoleApp1/obj
/Ecomm_b5/.vs
/Ecomm_b5/Ecomm_b5/obj
/Ecomm_b5/Ecomm_b5/bin
/Inventory_b5/.vs
/Inventory_b5/Inventory_b5/bin
/Inventory_b5/Inventory_b5/.vs
/Inventory_b5/packages
/Inventory_b5/Inventory_b5/obj
/QAndA_b5/.vs
/QAndA_b5/QAndA_b5/bin
/QAndA_b5/QAndA_b5/obj
/WindowsFormsApp1/.vs
/WindowsFormsApp1/WindowsFormsApp1/obj
/WindowsFormsApp1/WindowsFormsApp1/bin
/Ecomm_5_2/.vs
/Ecomm_5_2/Ecomm_5_2/bin
/Ecomm_5_2/Ecomm_5_2/obj
