@{
    ViewBag.Title = "About";
}
<style>
    .clsForm {
    }
</style>
<script>
    function showalert() {
        alert('batch 5')
    }

</script>
<a onclick="alert('batch5')">Click Me</a>
@{
    string name = "batch 5";
    if (name == "Batch  2")
    {
        string name2 = "";
        <p>@name2</p>
    }

    <p>@name</p>

    //string htmlCode = "my name is" + " protik";// "<a onclick="alert('batch5')'>Click Me</a>";
    string htmlCode = "<a onclick='showalert()'>Click Me</a>";// "<a onclick="alert('batch5')'>Click Me</a>";


}

@name
@Html.Raw(htmlCode)

<a onclick='showalert()'>Click Me</a>