<div id="dvCartPartial" style="position:fixed;width:400px;right:-400px;top:57px;bottom:0px;background-color:antiquewhite">
    <a href="#" class="btn btn-primary" onclick="CartController.HideCartPartial()">Close</a>

    <div class="row" id="dvCartPartialProduct">
        
    </div> 
</div>